{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>
      {% block head_title %}
      Impact
      {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}

    {% block extrahead %}
    {% endblock %}
  </head>
  
  <body class="bg-gray-50">
    
    <header class="text-gray-600 body-font">
      <div class="container
		  mx-auto
		  flex flex-wrap
		  p-5
		  flex-col
		  md:flex-row
		  items-center">
	<a class="flex
		  title-font
		  font-medium
		  items-center
		  text-gray-900
		  mb-4
		  md:mb-0"
	   href="/">
	  <span class="ml-3 text-xl">Introspector</span>
	</a>
	<nav
	  class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400
		 flex flex-wrap
		 items-center
		 text-base
		 justify-center">
	  {% if not request.user.is_anonymous %}
	  <a class="mr-5 hover:text-blue-900" href="/assay/">Cuestionario</a>
	  <a class="mr-5 hover:text-blue-900" href="/accounts/profile/">Profile</a>
	  {% if request.user.is_staff or request.user.is_admin %}
	  <a class="mr-5 hover:text-blue-900" href="/admin">Base de Datos</a>
	  {% endif %}
	  <a class="mr-5 hover:text-blue-900" href="/accounts/logout">Log out</a>	   	   
	  {% else %}
	  <a class="mr-5 hover:text-blue-900" href="/accounts/login">Login / Sign up</a>	   
	  {% endif %}
	  
	</nav>
      </div>
    </header>
    
    <div class="container
		w-full
		p-8
		mx-auto
		bg-white
		rounded-xl
		text-center">
      {% block body %}

      {% if messages %}
      <div>
	<strong>Messages:</strong>
	<ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
	</ul>
      </div>
      {% endif %}
      
      {% block content %}
      {% endblock %}
  
      {% block extra_body %}
      {% endblock %}

      {% endblock %}      
    </div>
    
  </body>
</html>
