{% extends "base.html" %}
{% load markdownify %}



{% block body %}
Approach List
<a class="rounded bg-white-300 p-1 m-1 hover:bg-gray-300"
   href="{% url 'approachespdf' %}">PDF</a>

{% if approach_list %}
<ul>
  {% for approach in approach_list %}
  <li>
    <div class="prose">
      <center>
	<h1>
	  <a
	    class="rounded bg-white-300 p-1 m-1 hover:bg-gray-300"
	    href="{% url 'admin:stance_approach_change' approach.id %}">
	    {{ approach.title }} </a> </h1>
      </center>
            
      {{ approach.description|markdownify }}
      
      <b>Bibliografía:</b>

      {% for bib in approach.bibliography.all %}
      <p>
	<a
	  class="rounded bg-white-300 p-1 m-1 hover:bg-gray-300"
	  href="{% url 'admin:stance_reference_change' bib.id %}">
	  {{ bib.citation }}
	</a>
      </p>
      {% endfor %}

      
      <b>Afirmaciones:</b>
      {% for reagent in approach.reagent_set.all %}
      {% if not reagent.negative  %} 
      <p>
	<a class="rounded bg-white-300 p-1 m-1 hover:bg-green-300"
	   href="{% url 'admin:stance_reagent_change' reagent.id %}">
	  {{ reagent.assertion }}
	</a>
      </p>
      {% endif %}
      {% endfor %}

      <b>Negaciones:</b>
      {% for reagent in approach.reagent_set.all %}
      {% if reagent.negative  %} 
      <p>
	<a
	  class="rounded bg-white-300 p-1 m-1 hover:bg-red-300"
	  href="{% url 'admin:stance_reagent_change' reagent.id %}">
	  {{ reagent.assertion }}
	</a>
      </p>
      {% endif %}
      {% endfor %}
    </div>

  </li>
  {% endfor %}
</ul>

<a class="rounded bg-white-300 p-1 m-1 hover:bg-gray-300"
   href="{% url 'approachespdf' %}">
  PDF</a>

{% else %}
<p>There are no approaches in the library.</p>
{% endif %}
{% endblock %}
