{% extends 'base.html' %}

{% block body %}
<div class="bg-gray-100 m-4 p-4 rounded-md">

  <div class="m-4 w-1/2">
  {{ reagent.assertion }}
  </div>

  <form method="post">{% csrf_token %}
    <table class="form-group">
      {{ form.as_table }}
    </table>

    <input
      type="submit"
      value="react"
      class="rounded-md bg-blue-500 hover:bg-green-500 text-white p-4 transition">





</form>
</div>


{% endblock %}
