{% extends "base.html" %}
{% load static %}


{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.js" integrity="sha512-XV5MGZ7Tv+G60rzU8P7tPUlaf0yz7SJ/uI9CLAwyLcZKl9kzxJQFs3nsBNZVNVAwNOkBLqrzMvjGMEycDccqiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>



<style>
  html,
  body {
      height: 100%;
  }


  .paperscript .canvas canvas {
      width:40%;
      height:80%;
      float:left;
      margin: 10px;
  }

  div{
      border-radius: 5px;
  }

  .l{
      width:180px;
      height:80%;
      float:left;
      margin: 10px;
  }
  .draggable-list li{
    display: flex;
    flex: 1;
  }
  .draggable-list number{
    display: flex;
    align-self: center;
  }
  .over{
    background-color: rgb(176, 176, 176);
    
  }
  .aproach{
    background-color: rgb(208, 208, 208);
  }
  .number{
    margin-left: 30px;
    margin-right: 30px;
  }
</style>

{% endblock %}


{% block body %}
<div class="flex flex-row bg-gray-300">
  <div id="leyenda" class="m-2 p-2 flex flex-col bg-slate-300">
    <div id="approaches_div" class="max-w-sm rounded overflow-hidden shadow-lg">
    
    </div>
    <div id="controls_div" class="max-w-sm rounded overflow-hidden shadow-lg">
    
    </div>
    
    <ul class="draggable-list" id="draggable-list"></ul>
    
  </div>

  <div class="">
    <canvas id="canvas" style="user-select: none;" width="805" height="805"></canvas>
  </div>
</div>



<script type="text/javascript">
  // Only executed our code once the DOM is ready.
//  window.onload = function() {
//  }
  var ox_id = "{{ ox.id }}";
  var oy_id = "{{ oy.id }}";
</script>

<script type="text/javascript"
	src="{% static 'src/aguas.js' %}"
	defer></script>


{% endblock %}
