{% extends 'base.html' %}

{% block body %}
<div class="bg-gray-100 m-4 p-4 rounded-md">

  <div class="m-4 w-1/2">
  {{ reagent.assertion }}
  </div>

  <form id="assay_form" method="post">{% csrf_token %}
    <table class="form-group">
      {{ form.as_table }}
    </table>

    <input
      type="button"
      value="strongly disagree"
      onClick="react(-2)"
      class="rounded-md bg-red-800 hover:bg-red-500 text-white p-4 transition">

    <input
      type="button"
      value="disagree"
      onClick="react(-1)"
      class="rounded-md bg-red-600 hover:bg-red-500 text-white p-4 transition">

    <input
      type="button"
      value="do not agree nor disagree"
      onClick="react(0)"
      class="rounded-md bg-gray-200 hover:bg-blue-200 text-gray-600 p-4 transition">

    <input
      type="button"
      value="agree"
      onClick="react(1)"
      class="rounded-md bg-green-600 hover:bg-green-500 text-white p-4 transition">

    <input
      type="button"
      value="strongly agree"
      onClick="react(2)"
      class="rounded-md bg-green-900 hover:bg-green-500 text-white p-4 transition">


  </form>
</div>


<script>
  function react(n){
      document.getElementById("id_reaction").value = n;
      document.getElementById("assay_form").submit()
  }
</script>

{% endblock %}
